@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --primary-dark: #4f46e5;
  --text-dark: #1f2937;
  --max-width: 1200px;
}

/* =======================
   RESET + GLOBAL
======================= */


body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: #1f2937;
  background-image: linear-gradient(
      rgba(202, 198, 198, 0.55),
      rgba(135, 112, 112, 0.55)
    ),
    url("home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* =======================
   HOME SECTION
======================= */
.home-section {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 7rem 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =======================
   TEXT
======================= */
.subtitle {
  letter-spacing: 2px;
  font-weight: 600;
  color: #e5e7eb;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 1rem 0;
  color: #ffffff;
}

.title span {
  color: #a5b4fc;
}

.description {
  color: #e5e7eb;
  line-height: 1.6rem;
  max-width: 500px;
}

/* =======================
   BUTTONS
======================= */
.action__btns {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hire__me,
.portfolio {
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  font-weight: 600;
  border: 2px solid #ffffff;
  background: #ffffff;
  color: var(--primary-dark);
  cursor: pointer;
}

.hire__me:hover,
.portfolio:hover {
  background: var(--primary-dark);
  color: #ffffff;
  border-color: var(--primary-dark);
}

/* =======================
   IMAGE
======================= */
.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(300px, 90%);
  border-radius: 50%;
  border: 5px solid #ffffff;
}

/* * ======================= 
   RESPONSIVE
======================= */
@media (max-width: 768px) {
  .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  .section__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image {
    order: -1;
  }

  .action__btns {
    justify-content: center;
  }

  .description {
    margin: auto;
  }
}