@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #6366f1;
  --primary-dark: #4f46e5;
  --text-dark: #1f2937;
  --max-width: 1200px;
}

/* =======================
   RESET + GLOBAL
======================= */


body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: #1f2937;
  background-image: linear-gradient(
      rgba(202, 198, 198, 0.55),
      rgba(135, 112, 112, 0.55)
    ),
    url("home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 90px;
}
/* PAGE */
.skills-page {
  padding: 120px 40px;
}

/* GRID */
.skills-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* CARD */
.skill-card {
  background: #f6f4f4;
  border-radius: 22px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);
  border: 1px solid #e5e7eb;
}

.skill-card h2 {
  font-size: 1.35rem;
  font-weight: 600;
  color: #0f172a;
}

/* UNDERLINE */
.underline {
  width: 45px;
  height: 4px;
  margin: 12px 0 25px;
  border-radius: 999px;
  background: linear-gradient(90deg, #6366f1, #a855f7);
}

/* SKILL GRID */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}

.skill-item {
  background: #f8fafc;
  border-radius: 16px;
  padding: 22px;
  text-align: center;
  transition: all 0.25s ease;
  border: 1px solid #e5e7eb;
}

.skill-item:hover {
  transform: translateY(-4px);
  background: #eef2ff;
}

.skill-item img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  margin-bottom: 10px;
  filter: invert(0)
}

.skill-item span {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: #334155;
}
.skill-item svg{
  width: 42px;
  height: 42px;
  color: #000;   /* light mode */
}

.dark .skill-item svg{
  color: #fff;   /* dark mode */
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .skills-container {
    grid-template-columns: 1fr;
  }

  .skills-page {
    padding: 80px 20px;
  }
}